snippet pub
	public ${0}
snippet pri
	private ${0}
snippet pro
	protected ${0}
snippet cla
	class ${1:ClassName} {
		${0}
	}
snippet con
	${1:ClassName}(${2}) ${3}{
		${0}
	}
snippet met
	${1:void} ${2:methodName}(${3}) ${4}{
		${0}
	}
snippet println
	System.out.println(${0});
snippet print
	System.out.print(${0});
snippet main
	public static void main(String[] args) {
		${0}
	}
snippet ret
	return ${0};
