[user]
	name = Alex Jeffery
	email = apjeffery136@gmail.com
[push]
	default = simple
[core]
	editor = vim
[credential "https://github.com"]
    username = alexj136
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pack]
	windowMemory = 128m
